<div>

	<h2 class="outline"> Smarter way to choose your cosmetics</h2></br>
	<p class="exp">Do you want to have an ideal skin and save its youth and beauty for long time?</br>  Find out how to quickly check your cosmetic for effectivness and naturallity!</p>

	<!--Circles area -->
	<div class="outline">Why should I check?</div></br>
	<div class="row">
		<div class="circle col-md-3">
			<h4>Safety</h4>
			<div class="circletext">Ingredients highlighted in orange color could cause allergy. Green ingredients are safe.</div>
		</div>
		<div class="circle col-md-3 col-md-offset-1">
			<h4>Effectiveness</h4>
			<div class="circletext">Effectiveness is crucial! Find out what ingredients target your skin needs</div>
		</div>
		<div class="circle col-md-3 col-md-offset-1">
			<h4>Naturality</h4>
			<div class="circletext">Choose cosmetics that contains only natural ingredients</div>
		</div>
	</div></br>
	<hr>

	<!--Numbered columns area-->
	<h3 class="outline">How can SmartIngredients help?</h3></br>
	<div class="row">
		<span class="number col-md-1">1</span>
		<div class="numbertext col-md-2">You don't need to be a pro at the ingredients list analyzing.We've already done it for you. Even a noviece user need only a few min to check a cosmetic product!</div>
		<span class="number col-md-1 col-md-offset-1">2</span>
		<div class="numbertext col-md-2">You don't need to be a pro at the ingredients list analyzing.We've already done it for you. Even a noviece user need only a few min to check a cosmetic product!</div>
		<span class="number col-md-1 col-md-offset-1">3</span>
		<div class="numbertext col-md-2">You don't need to be a pro at the ingredients list analyzing.We've already done it for you. Even a noviece user need only a few min to check a cosmetic product!</div>
	</div>
	

	<!-- Beginner Pro Instructions -->
	<h3 class="outline">How to use SmartIngredients?</h3></br>
	<div class="row">
		<div class="instruction col-md-5 col-sm-12">
			<h4>Beginner</h4>
			</br>
			<div class="instructiontext">
				Every product has smart ingredients list. Useful ingredients are marked with a       symbol. If a product has at least 4 of them, it will be useful for your skin.
				</br></br>
				Even more simple? - There are charts reflecting safety, effectiveness and naturallity of a product after each ingredients list. 
			</div>
		</div>
		<div class="instruction col-md-5 col-md-offset-2 col-sm-12">
			<h4>Pro</h4>
			</br>
			<div class="instructiontext">
				Put the mouse over any ingredient in a smart list and a pop-up message containing more info will appear.
				</br></br>
				Even more simple? - You will see the number of ingredients by functions after each ingredients list (moisturizers, mattifyers, etc.). Click on them and they will be highlighted in yellow. 
			</div>
		</div>
	</div>
	
	<!-- Smart Ingredients List Example -->
	<h3 class="outline">Smart Ingredients List Example</h3>
	<div class="row">
		<div class="col-md-2 arrowtext">Ingredients displayed in green are useful for skin</div>
		<div class="col-md-1 arrow"><img src="http://gdurl.com/bj6u" alt="arrow" class="img-responsive"></div>
		<div class="col-md-6 ingredientsexample">
		Aqua, Mineral Oil, Dimethicone, Caprylic/Capric Triglyceride, Chamomile Extract, Acetyl Hexapeptide-8, Jojoba Seed Oil, <span class="allergen"> Alcohol </span>, Niacinamide, Cera Alba, Titanium Dioxide, Malva Sylvestris (Mallow) Extract, <span class="allergen"> Methylparaben, Ceteareth-20 </span>, <span class="highlighted">Hyaluronic Acid</span>            	
		</div>
		<div class="col-md-1 arrow1"><img src="http://gdurl.com/cePU" alt="arrow" class="img-responsive"></div>
		<div class="col-md-2 arrowtext">Ingredients displayed in orange could cause allergic reaction</div>
	</div>

	<!--Categories-->
	<h4 class="centred">Ingredients by Category</h4>
	<div class="row">
		<div class="col-md-2 arrowtext">Click on a category and its ingredients will be highlighted in the list</div>
		<div class="col-md-1 arrow"><img src="http://gdurl.com/bj6u" alt="arrow" class="img-responsive"></div>
		<ul class="col-md-3 ingredientscategory">
			<li>Useful</li>
			<li><span class="highlighted">Moisturizing</span></li>
			<li>Natural</li>
			<li>Anti-ages</li>
		</ul>
		<ul class="col-md-3 ingredientscategory">
			<li>Silicones</li>
			<li>Acne Treatment</li>
			<li>UV protection</li>
			<li>Whitening</li>
		</ul>
	</div>


	<div class="row">
		<div class="col-md-3 col-md-offset-3"><h3>Ingredients Diagramm</h3>
		


		</div>
		<div class="col-md-4"><h3>Ingredients Safeness</h3></div>

	</div>

	<hr>
	<h3 class="outline">What I do Next?</h3>
	<div class="col-md-6 col-md-offset-3"> Check <a href="#">Avene Hydrance Optimale Cream</a> OR search for a product  you currectly use:</a></div>

	<div ng-controller="SearchController" class="col-md-9 col-md-offset-3">
		<a ng-href="#/search"><input data-ng-model="q" type="search" name="search" placeholder="search" id="search" data-ng-change="doSearch()"></a>
	</div><!--search-->

</div>
