<h2 ng-show="wishlist == null || wishlist.length === 0">Your wishlist is empty. Go <a href="#/search">search</a> for new products and save any product you like here!</h2>
<ul class="list-group">
<li class="list-group-item row" data-ng-repeat="item in wishlist">
	<a ng-href="#/product/{{item.pid}}">
		<img ng-src="{{item.img}}" class="col-md-2 img-responsive"> 
		<span class="col-md-6">{{ item.title }}.</span>
	</a>
	<button class="btn-small" ng-click="remove(item)"> Remove from wishlist</button>
</li>
</ul>