.result {
	border: 1px solid;
	margin-top: 1em;
}
.product_features {
	margin-top: 2em;
}
.fullsizeImage {
	margin-top: 2em;
}

.ingredients_category li a {
	text-decoration: none;
}
.highlight {
	background-color: yellow;
}
.left {
	font-weight: 100;
	font-size: 30px;
	margin-bottom: 1em;
	margin-top: 1.5em;
}